rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /elections/{election}/{document=**} {
      allow read: if true;
      allow write: if request.auth.uid in get(/databases/$(database)/documents/elections/$(election)).data.admins;
    }
  }
}